@import "../../../styles/_dark-theme.css";
@import "../../../styles/_global-units.css";

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;

  padding: 1rem;
  max-height: 32rem;
  overflow: auto;
}

.list::-webkit-scrollbar {
  width: 1rem;
}

.list::-webkit-scrollbar-track {
  border-radius: 10px;
  outline: 2px solid var(--dark__gray-medium-dark);
}

.list::-webkit-scrollbar-thumb {
  background: var(--dark__gray-light);
  border-radius: 10px;
}

.filter {
  font-size: var(--font__large-size);
  margin: 0 0 1rem 1rem;
}

.msg-on-empty {
  margin-top: 5rem;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
}
