.overview {
  width: 100%;
  padding: 0 !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  color: inherit;
}

.data {
  padding: 1rem 1.5rem;
  display: flex;
  height: 100%;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-dark {
  background-color: var(--dark__gray-light) !important;
}

.header-light {
  background-color: var(--light__gray-medium-dark) !important;
}
