.overview {
  width: 100%;
  padding: 0 !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.data {
  background-color: rgba(88, 7, 54, 1);
  padding: 1rem 2rem;
  display: flex;
  height: 100%;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
