.toggler {
  width: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.title {
  font-size: 1.6rem;
  opacity: 0.5;

  transition: opacity 0.3s ease;
}

.active {
  opacity: 1;
}

.switch-btn {
  background: none;
  border: none;
  border-radius: var(--form__border-radius);

  width: 5rem;
  height: 100%;
  padding: 0.2rem 0.15rem;
  cursor: pointer;
}

.slider {
  height: 100%;
  width: 2.5rem;
  border-radius: inherit;
  transform: translate(0, 0);

  transition: transform 0.3s ease;
}

.slider-right {
  transform: translate(2.2rem, 0);
}
