@import "../../../../styles/_dark-theme.css";
@import "../../../../styles/_global-units.css";

.chart {
  position: relative;
  background-color: var(--dark__gray-medium-light);
  height: 100%;

  display: flex;
  justify-content: center;
}

.content {
  position: absolute;
  margin: auto;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.2rem;
  color: var(--dark__font-light);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
