.diagram {
  width: 100%;
  padding: 0 !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  flex: 0 1 65%;
  color: inherit;
}

.header-dark {
  background-color: var(--dark__gray-light) !important;
}

.header-light {
  background-color: var(--light__gray-medium-dark) !important;
}
