.svg-icon {
  width: 2rem;
  height: 2rem;
  color: inherit;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: inherit;
}

.error {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.error p {
  font-size: 1.4rem;
  color: inherit;
}
