@import "../../../../styles/_dark-theme.css";

.svg-icon {
  width: 2rem;
  height: 2rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--dark__red-error);
}

.svg-icon circle {
  stroke: var(--dark__red-error);
  stroke-width: 1;
}

.error {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.error p {
  font-size: 1.4rem;
  color: var(--dark__red-error);
}
