@import "../../../../_base.css";

.input {
  width: 6rem;
  height: 100%;
  font-size: 1.4rem;
  background-color: #af017180;
  color: var(--font-color-light);
  border: none;
  outline: none;
  border-radius: 1rem;
  padding-left: 0.5rem;
  margin-left: 1rem;
}
