@import "../../../../styles/_dark-theme.css";
@import "../../../../styles/_global-units.css";

.selector {
  background: var(--dark__gray-forms);
  color: var(--dark__font-light);
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: var(--form__border-radius);

  margin-left: 1rem;
  font-size: var(--font__medium-size);
}

.selector option {
  background: var(--dark__gray-medium-light);
}
