.summary {
  margin-top: 1rem;
  align-items: flex-end;
  justify-content: flex-end;
  width: fit-content;
  gap: 1rem;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.amount {
  font-size: var(--font__large-size);
}
