.date {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 1rem;
  width: 4.25rem;
  padding: 0.5rem 0;
  color: inherit;
}

.day-month {
  font-size: 0.8rem;
}

.year {
  font-size: 1.1rem;
  letter-spacing: 2px;
}
