.fund-item {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.content {
  position: absolute;
  left: 5.5rem;
  top: 0.5rem;
  max-width: 50%;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.option {
  position: absolute;
  left: 5.5rem;
  top: 2rem;
  font-size: 0.8rem;
  font-weight: bolder;
  opacity: 0.6;
}

.content-details {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 7rem;
  height: 100%;
  margin: -0.5rem;
  padding: 0.5rem 1rem;
  background-color: #af017180;
  border-radius: 1rem;
  font-size: 1.2rem;
}

.amount p {
  font-weight: bolder;
}

.currency {
  opacity: 0.5;
}

.delete-button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.svg-icon {
  margin: -0.5rem;
  width: 2rem;
  height: 2rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--font-color-light);
}

.svg-icon circle {
  stroke: var(--font-color-light);
  stroke-width: 1;
}

.svg-icon-important {
  margin: -0.5rem;
  width: 2rem;
  height: 2rem;
}

.svg-icon-important path,
.svg-icon-important polygon,
.svg-icon-important rect {
  fill: rgb(229, 229, 113);
}

.svg-icon-important circle {
  stroke: rgb(229, 229, 113);
  stroke-width: 1;
}
