@import "../../../../styles/_dark-theme.css";

.fund-item {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  color: var(--dark__font-light);
}

.content {
  position: absolute;
  left: 5.5rem;
  top: 0.5rem;
  max-width: 45%;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.option {
  position: absolute;
  left: 5.5rem;
  top: 2rem;
  font-size: 0.8rem;
  font-weight: bolder;
  opacity: 0.6;
}

.content-details {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 7rem;
  height: 100%;
  margin: -0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--dark__red-error);
  border-radius: 1rem;
  font-size: 1.1rem;
}

.amount p {
  font-weight: bolder;
}

.delete-button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.svg-icon {
  margin: -0.5rem;
  width: 2rem;
  height: 2rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--dark__red-error);
}

.svg-icon circle {
  stroke: var(--dark__red-error);
  stroke-width: 1;
}
