@import "../../../../styles/_dark-theme.css";
@import "../../../../styles/_global-units.css";

.date {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  align-items: center;
  justify-content: center;

  background-color: var(--dark__gray-medium-dark);
  border: none;
  border-radius: 1rem;
  outline: 2px solid var(--dark__gray-forms);
  width: 4.25rem;
  padding: 0.5rem 0;
  color: var(--dark__font-light);
}

.day-month {
  font-size: 0.8rem;
}

.year {
  font-size: 1.1rem;
  letter-spacing: 2px;
}
