:root {
  --card__border-radius: 1.5rem;

  --button__border-radius: 1rem;

  --form__border-radius: 1.25rem;

  --font__small-size: 0.9rem;
  --font__medium-size: 1.4rem;
  --font__large-size: 1.8rem;
  --font__page-title: 2rem;
}
