.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-top: 1rem;
  color: inherit;
}

.form h4 {
  font-size: 1.6rem;
}

.input {
  margin: 2rem 0 3rem 0;
  font-size: var(--font__medium-size);
  padding: 0.75rem 1rem;
  color: inherit;
}

.input::placeholder {
  color: inherit;
  opacity: 0.5;
}

.optional {
  font-size: var(--font__large-size);
  font-weight: bold;
}

.categories {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-radius: var(--card__border-radius);
  margin-top: 1.5rem;
  padding: 1.8rem 1rem 1.8rem 1.8rem;
}

.date-input {
  font-size: var(--font__medium-size);
  padding: 0.6rem 0.5rem;
  color: inherit;
}

.select-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-wrapper p {
  font-size: 1.6rem;
}

.submit-btn {
  margin-top: 3rem;
  font-size: var(--font__large-size);
}
