@import "../../../../_base.css";

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-top: 1rem;
}

.form h4 {
  font-size: 1.8rem;
}

.form span {
  margin-top: 2rem;
  width: 100%;
  border-top: 4px solid #4c0033;
}

.input {
  margin: 2rem 0 3rem 0;
  font-size: 1.4rem;
  padding: 0.75rem 1rem;
  color: var(--font-color-light);
}

.input::placeholder {
  color: var(--font-color-light);
  opacity: 0.5;
}

.categories {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date-input {
  font-size: 1.4rem;
  padding: 0.6rem 0.5rem;
  color: var(--font-color-light);
}

.select-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-wrapper p {
  font-size: 1.6rem;
}

.important-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.important-btn label {
  font-size: 1.6rem;
}

.important-btn button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.submit-btn {
  margin-top: 2rem;
  font-size: 1.6rem;
}

.svg-icon {
  width: 2.2rem;
  height: 2.2rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #af017180;
}

.svg-icon circle {
  stroke: #af017180;
  stroke-width: 1;
}

.svg-icon-active {
  width: 2.2rem;
  height: 2.2rem;
}

.svg-icon-active path,
.svg-icon-active polygon,
.svg-icon-active rect {
  fill: rgb(229, 229, 113);
}

.svg-icon-active circle {
  stroke: rgb(229, 229, 113);
  stroke-width: 1;
}
