.svg-icon {
  width: 2rem;
  height: 2rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: inherit;
}

.svg-icon circle {
  stroke-width: 1;
}

.error {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.error p {
  font-size: var(--font__medium-size);
  color: var(--dark__red-error);
}
