.svg-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--dark__gray-forms);
}

.svg-icon circle {
  stroke: var(--dark__gray-forms);
  stroke-width: 1;
}

.svg-icon-acrive-dark {
  width: 3.2rem;
  height: 3.2rem;
}

.svg-icon-active-dark path,
.svg-icon-active-dark polygon,
.svg-icon-active-dark rect {
  fill: var(--dark__yellow);
}

.svg-icon-active-dark circle {
  stroke: var(--dark__yellow);
  stroke-width: 1;
}

.svg-icon-active-light {
  width: 3.2rem;
  height: 3.2rem;
}

.svg-icon-active-light path,
.svg-icon-active-light polygon,
.svg-icon-active-light rect {
  fill: var(--light__yellow);
}

.svg-icon-active-light circle {
  stroke: var(--light__yellow);
  stroke-width: 1;
}

.important-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.important-btn label {
  font-size: 1.6rem;
}

.important-btn button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
