.svg-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #af017180;
}

.svg-icon circle {
  stroke: #af017180;
  stroke-width: 1;
}

.svg-icon-active {
  width: 3.2rem;
  height: 3.2rem;
}

.svg-icon-active path,
.svg-icon-active polygon,
.svg-icon-active rect {
  fill: rgb(229, 229, 113);
}

.svg-icon-active circle {
  stroke: rgb(229, 229, 113);
  stroke-width: 1;
}

.important-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.important-btn label {
  font-size: 1.6rem;
}

.important-btn button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
