.title {
  font-size: 2rem;
}

.header {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  align-items: center;
  height: 12.5rem;
}

.left-section {
  width: 55%;
  height: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.add-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.date {
  height: 100%;
}

.pinned-goals {
  width: 45%;
  height: 100%;
}
