.title {
  font-size: 2rem;
}

.header {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  flex: 0 1 40%;
}

.left-section {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.add-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pinned-goals {
  height: 5rem;
}

.general {
  height: 5rem;
}
