@import "../../../styles/_dark-theme.css";

.svg-icon {
  width: 100%;
  height: 100%;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--dark__gray-medium-light);
}

.svg-icon circle {
  stroke: var(--dark__gray-medium-light);
  stroke-width: 1;
}

.svg-icon-right {
  margin-left: 0.2rem;
}

.svg-icon-left {
  margin-right: 0.2rem;
}

.button {
  z-index: 5;
  position: absolute;
  top: 3rem;
  left: calc(100% - 2rem);

  width: 4rem;
  height: 4rem;
  border-style: none;
  outline: none;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
