@import "../../../styles/_dark-theme.css";

.button {
  position: absolute;
  transform: translate(0, 0);
  top: 85%;

  width: 100%;
  border: none;
  outline: none;
  background: none;

  cursor: pointer;

  transition: background-color 0.2s ease, padding 0.5s ease;
}

.svg-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--dark__UI-icon);
}

.svg-icon circle {
  stroke: var(--dark__UI-icon);
  stroke-width: 1;
}
