@import "../../../styles/_dark-theme.css";
@import "../../../styles/_global-units.css";

.svg-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--dark__UI-icon);
}

.svg-icon circle {
  stroke: var(--dark__UI-icon);
  stroke-width: 1;
}

.button {
  width: 100%;
  border: none;
  outline: none;
  background: none;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  padding: 0.75rem 0 0.75rem 1.75rem;
  color: inherit;

  transition: background-color 0.2s ease, padding 0.5s ease;
}

.button-expanded {
  padding: 0.75rem 0 0.75rem 4rem;
}

.button:hover {
  background: rgba(0, 0, 0, 0.15);
}

.button:focus {
  background: rgba(0, 0, 0, 0.15);
}

.content {
  position: absolute;
  left: 9rem;
  font-size: var(--font__large-size);
  opacity: 0;
}

.content-expanded {
  opacity: 1;

  transition: opacity 0.5s ease;
  transition-delay: 0.5s;
}
