.svg-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #e80f88;
}

.svg-icon circle {
  stroke: #e80f88;
  stroke-width: 1;
}

.button {
  margin-left: 3rem;
  width: 100%;
  border: none;
  outline: none;
  background: none;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
