.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

.averages {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem;
}

.averages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.title {
  font-size: 1.1rem;
}

.amount {
  font-size: 1.6rem;
  font-weight: bold;
}

.ending {
  font-size: var(--font__small-size);
  text-transform: uppercase;
}
