.title {
  position: absolute;
  font-size: 3.2rem;
  top: 3rem;
  left: 4.5rem;

  opacity: 0;
}

.title span {
  font-size: 4rem;
  font-weight: bolder;
  color: rgb(148, 36, 117);

  margin-left: 0.25rem;
}

.title-expanded {
  opacity: 1;

  transition: all 0.5s ease;
  transition-delay: 0.5s;
}
