@import "../../../../styles/_dark-theme.css";
@import "../../../../styles/_global-units.css";

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrapper p {
  font-size: var(--font__medium-size);
  margin-right: 0.6rem;
}

.selector {
  background: var(--dark__gray-forms);
  color: var(--dark__font-light);
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: var(--form__border-radius);

  font-size: 1.2rem;
}

.selector option {
  background: var(--dark__gray-medium-light);
}
