.task {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.task:hover {
  background: none !important;
}

.priority {
  position: absolute;
  left: 9.5rem;
}

.content {
  position: absolute;
  left: 13rem;
  font-size: 1.2rem;
  max-width: 45%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.done-dark {
  color: var(--dark__font-light-smoked);
  text-decoration: line-through;
}

.done-light {
  color: var(--light__font-dark-smoked);
  text-decoration: line-through;
}

.content-details {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option-dark,
.option-light {
  display: flex;
  justify-content: center;

  width: 6rem;
  margin: -0.5rem;
  padding: 0.5rem;
  border-radius: var(--button__border-radius);
  font-size: 1.1rem;
}

.option-dark {
  background-color: var(--dark__UI-blue);
}

.option-light {
  background-color: var(--light__UI-blue);
}

.option-done-dark {
  background-color: var(--dark__UI-red);
}

.option-done-light {
  background-color: var(--light__UI-red);
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
}

.delete-button,
.done-button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 0.4rem;
}

.svg-icon {
  margin: -0.5rem 0;
  width: 2rem;
  height: 2rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: inherit;
}

.svg-icon circle {
  stroke: inherit;
  stroke-width: 1;
}

.svg-icon-important {
  margin: -0.5rem 0;
  width: 2rem;
  height: 2rem;
}
