@import "../../../../styles/_dark-theme.css";

.date {
  width: 7rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.35rem;

  font-size: 1.2rem;
}

.done {
  color: var(--dark__font-light-smoked);
  text-decoration: line-through;
}

.no-date {
  color: var(--dark__font-light-smoked);
}
