.task {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.content {
  position: absolute;
  left: 12rem;
  font-size: 1.2rem;
}

.content-details {
  width: 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option {
  display: flex;
  justify-content: center;

  width: 6rem;
  margin: -0.5rem;
  padding: 0.5rem;
  background-color: #af017180;
  border-radius: 15px;
}
