@import "../../../../styles/_dark-theme.css";
@import "../../../../styles/_global-units.css";

.task {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  outline: 2px solid var(--dark__gray-forms);

  width: 100%;
}

.task:hover {
  background: none;
}

.priority {
  position: absolute;
  left: 9.5rem;
}

.content {
  position: absolute;
  left: 13rem;
  font-size: 1.2rem;
  max-width: 45%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.done {
  color: var(--dark__font-light-smoked);
  text-decoration: line-through;
}

.content-details {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option {
  display: flex;
  justify-content: center;

  width: 6rem;
  margin: -0.5rem;
  padding: 0.5rem;
  background-color: var(--dark__UI-blue);
  border-radius: var(--button__border-radius);
  font-size: 1.1rem;
}

.option-done {
  background-color: var(--dark__UI-red);
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
}

.delete-button,
.done-button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 0.4rem;
}

.svg-icon {
  margin: -0.5rem 0;
  width: 2rem;
  height: 2rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--dark__font-light);
}

.svg-icon circle {
  stroke: var(--dark__font-light);
  stroke-width: 1;
}

.svg-icon-important {
  margin: -0.5rem 0;
  width: 2rem;
  height: 2rem;
}

.svg-icon-important path,
.svg-icon-important polygon,
.svg-icon-important rect {
  fill: rgb(229, 229, 113);
}

.svg-icon-important circle {
  stroke: rgb(229, 229, 113);
  stroke-width: 1;
}
