.date {
  width: 7rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.35rem;

  font-size: 1.2rem;
}

.done-dark {
  color: var(--dark__font-light-smoked);
  text-decoration: line-through;
}

.done-light {
  color: var(--light__font-dark-smoked);
  text-decoration: line-through;
}

.no-date-dark {
  color: var(--dark__font-light-smoked);
}

.no-date-light {
  color: var(--light__font-dark-smoked);
}
