@import "../../../../styles/_dark-theme.css";

.month-wrapper {
  width: 100%;
  padding: 1rem;

  background-color: var(--dark__gray-medium-light);
  border-radius: 0 0 25px 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.month-wrapper button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.month-content {
  width: 6rem;
  text-align: center;
  margin: 0 2rem;
  font-size: 1.2rem;
}

.svg-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--dark__UI-icon);
}

.svg-icon circle {
  stroke: var(--dark__UI-icon);
  stroke-width: 1;
}
