.year-wrapper {
  width: 100%;
  padding: 2rem 1rem;

  border-radius: 25px 25px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.year-wrapper button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.year-content {
  font-size: 1.6rem;
  letter-spacing: 3px;
  margin: 0 2rem;
}

.svg-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: inherit;
}

.svg-icon circle {
  stroke: inherit;
  stroke-width: 1;
}
