.add-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font__large-size);
}

.svg-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: inherit;
}

.svg-icon circle {
  stroke: inherit;
  stroke-width: 1;
}
