* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 0.85vw;
  color: white;
}

body {
  background-color: #2d2d30;
  overflow: hidden;
}
