@import "../../styles/_dark-theme.css";

.title {
  font-size: 1.8rem;
  letter-spacing: 2px;
  margin-bottom: 3rem;
  color: var(--dark__font-light);
}

.title span {
  font-size: 3rem;
  padding: 0.25rem 0.75rem;
  border-radius: 25px 0 25px 0;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
