.button {
  background-color: rgba(235, 60, 157, 1);
  background-image: linear-gradient(
    120deg,
    rgba(235, 60, 157, 1) 0%,
    rgba(216, 12, 126, 1) 100%
  );

  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  color: #4c0033;

  transition: all 0.3s ease;
}

.button:hover {
  transform: scale(1.2, 1.2);
}
