.card {
  outline: 2px solid #af017190;
  border-radius: 25px;
  padding: 1rem;

  transition: all 0.25s ease;

  display: flex;
  justify-content: center;
}

.card:hover {
  background-color: #af017190;
}
