.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
}

.summary {
  background-color: #af017150;
  margin: 1.5rem 0 3rem 0;
  padding: 1rem 3rem;
  border-radius: 25px;

  display: flex;
  justify-content: space-around;
}

.add-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.8rem;
}

.svg-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4c0033;
}

.svg-icon circle {
  stroke: #4c0033;
  stroke-width: 1;
}
