@import "../../../styles/_dark-theme.css";
@import "../../../styles/_global-units.css";

.modal {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: var(--font__page-title);
  color: var(--dark__font-title);
}

.summary {
  background-color: var(--dark__gray-light);
  margin: 1.5rem 0 3rem 0;
  padding: 1rem 3rem;
  border-radius: var(--card__border-radius);
  box-shadow: var(--dark__card-box-shadow);

  display: flex;
  justify-content: space-around;
}

.add-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.8rem;
}

.svg-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4c0033;
}

.svg-icon circle {
  stroke: #4c0033;
  stroke-width: 1;
}
